.blog-masthead {
  background-color: #4C84FF;
  height: 60px;
  line-height: 60px;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}
.blog-nav{
  height: 60px;
  line-height: 60px;
  width: 1180px;
  margin: 0 auto;
  .blank{
    font-size: 26px;
    float: left;
  }
}
.blog-nav .active {
  color: #fff;
}
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
.container-body {
  max-width: 850px;
}
.default-money {
  font-size: x-small;
  text-decoration: line-through;
}
.real-money {
  font-size: x-large;
  color: #F43737;
}
.lead {
  font-weight: 700;
}
.navbar-right{
  margin-top: 10px;
  .input{
    width:380px;
    height:38px;
    line-height: 38px;
    background:rgba(96,145,252,1);
    border-color: transparent;
    border-radius: 19px;
    color: #fff;
    margin-right: 20px;
  }
  .btns{
    color: #fff;
    cursor: pointer;
    height: 18px;
    width: 44px;
    line-height: 18px;
    display: inline-block;
    text-align: center;
    &.left{
      border-right: 1px solid #fff;
    }
  }
}
.login{
  float: right;
  margin-top: 7px;
}
.dropdown{
  float: right;
  .aaa{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .caret{
    border-top: 4px dashed #fff;
  }
}