.i002{
  .breadcrumbs{
    font-size: 14px;
    padding: 15px 0;
    a{
      text-decoration: none;
      color: #818A92;
      &:hover{
        color: #32404B;
      }
    }
  }
  .list-inline{
    .title{
      color: #818A92;
    }
    .item{
      cursor: pointer;
      margin: 0 6px;
      &.active,&:hover{
        color:#4C84FF
      }
    }
  }
  .filters{
    background-color: #fff;
    padding: 30px;
    .filter{
      margin-bottom: 20px;
    }
  }
  .class-container{
    .class{
      margin-top: 30px;
      width: 380px;
      height: 262px;
      background-color: #fff;
      float:left;
      padding: 15px;
      margin-right: 20px;
      border: 1px solid #ddd;
      cursor: pointer;
      &:hover{
        box-shadow: 4px 4px 10px #ddd;
        border-top:3px solid #4C84FF;
      }
      &.last{
        margin-right: 0;
      }
      h4{
        font-size: 20px;
        height: 50px;
        overflow: hidden;
        .tag{
          font-size: 14px;
          margin-right: 10px;
          &.one{
            width:20px;
            height:20px;
            line-height: 20px;
            color:#FF9D30;
            text-align: center;
            background:rgba(255,246,236,1);
            border:1px solid rgba(255,157,48,1);
            border-radius:2px;
          };
          &.two{
            width:20px;
            height:20px;
            line-height: 20px;
            color:#F43737;
            text-align: center;
            background:rgba(255,243,243,1);
            border:1px solid rgba(244,55,55,1);
            border-radius:2px;
          }
        }
      }
      .teacher{
        width: 40px;
        margin-top: 20px;
        .tou{
          width: 40px;
          height: 40px;
          display: block;
          border-radius: 50%;
        }
        .name{
          text-align: center;
          font-size: 12px;
          margin-top: 4px;
        }
      }
      .describe{
        margin-top: 40px;
      }

    }

  }

}