.i003{
   .nav{
     li{
       display: inline-block;
       height: 45px;
       line-height: 45px;
       cursor: pointer;
       margin-right: 30px;
       &.active{
         border-bottom: 2px solid #0000ff;
       }
     }
   }
  .panel{
    padding: 20px 0;
    .control-label{
      width: 86px;
    }
  }
}