<!--我的资料-->
<div class="i004">
    <div  ng-include="'subjectSide.html'"></div>
    <div class="content">
        <ul class="nav">
            <li ng-class="{'active':tabIndex===1}" ng-click="changeTab(1)">全部</li>
            <li ng-class="{'active':tabIndex===2}" ng-click="changeTab(2)">正在学</li>
            <li ng-class="{'active':tabIndex===3}" ng-click="changeTab(3)">未开始</li>
            <li ng-class="{'active':tabIndex===4}" ng-click="changeTab(4)">已结束</li>
            <li ng-class="{'active':tabIndex===5}" ng-click="changeTab(5)">已退费</li>
        </ul>
        <div class="panel">
            <div class="subject">
                <div class="title">
                    <span class="tag one">春</span>
                    <span class="tag two">英</span>
                    <span class="name">一节课搞定英语单词认读问题</span>
                    <span class="status">未开始</span>
                </div>
                <div class="subTitle">
                    <span class="item">时间：05月28日-05月31日</span>
                    <span class="item">10节</span>
                    <span class="item">下次开课时间：05月28日-05月31日</span>
                </div>
                <div class="teachers clearfix">
                    <div class="teacher">
                        <img class="av" src="./img/tou.jpg" alt="">
                        <div class="info">
                            <div class="name">王</div>
                            <div class="type">主讲老师</div>
                        </div>
                    </div>
                    <div class="teacher">
                        <img class="av"  src="./img/tou.jpg" alt="">
                        <div class="info">
                            <div class="name">礼貌在</div>
                            <div class="type">辅导老师</div>
                        </div>
                    </div>
                    <div class="detail" >
                        查看详情
                    </div>
                </div>

            </div>
            <div class="subject">
                <div class="title">
                    <span class="tag one">春</span>
                    <span class="tag two">英</span>
                    <span class="name">一节课搞定英语单词认读问题</span>
                    <span class="status">未开始</span>
                </div>
                <div class="subTitle">
                    <span class="item">时间：05月28日-05月31日</span>
                    <span class="item">10节</span>
                    <span class="item">下次开课时间：05月28日-05月31日</span>
                </div>
                <div class="teachers clearfix">
                    <div class="teacher">
                        <img class="av" src="./img/tou.jpg" alt="">
                        <div class="info">
                            <div class="name">王</div>
                            <div class="type">主讲老师</div>
                        </div>
                    </div>
                    <div class="teacher">
                        <img class="av"  src="./img/tou.jpg" alt="">
                        <div class="info">
                            <div class="name">礼貌在</div>
                            <div class="type">辅导老师</div>
                        </div>
                    </div>
                    <div class="detail" >
                        查看详情
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>