<div ng-include="'headNav.html'"></div>
<div class="i101 container" style="width: 1180px;padding: 0;">
	<div class="breadcrumbs"><a href="#/i203">首页 ></a><a> 学习中心</a></div>
	<div id="video-container"></div>
	<div id="i101-talk">
		<div class="i101-talk-title">文字讨论</div>
		<div class="i101-talk-content">
			<div class="i101-talk-item" ng-repeat="msg in messages">
				<span>{{msg.from_name}}:</span>
				<span ng-show="{{msg.mtype == 'text'}}">{{msg.content}}</span>
				<span ng-show="{{msg.mtype == 'link'}}"><a href="{{msg.content}}" target="_blank">{{msg.content}}</a></span>
			</div>
		</div>
		<div class="input-group">
			<input type="text" class="input" ng-model="ctrlScope.message" ng-if="live" placeholder="说点什么吧"/>
			<input class="input" ng-if="!live" disabled  placeholder="回放期间不能发言"/>
			<div class="send" ng-click="send()">发送</div>
		</div>
	</div>

</div>
<div ng-include="'i100footer.html'"></div>