<div ng-include="'headNav.html'"></div>
<div class="i203">
	<div class="header">
  	<div class="inner " style="padding-top: 20px">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" ng-class="{'active':key===0}" style="margin: 0 4px"  data-slide-to="{{key}}" ng-repeat="(key, value) in bannerList"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item" ng-class="{'active':key===0}" ng-click="bannerGo(value)" ng-repeat="(key, value) in bannerList">
					<img src="http://39.108.219.7/cgi-bin/download.pl?proj=znyx&fid={{value.fid}}" alt="...">
				</div>
			</div>
		</div>
		<div class="class-filter">
			<ul class="list-inline">
				<li class="title">年级:</li>
				<li ng-class="{'item':true,'active':classCurrent===class._id}" ng-repeat="class in classList" ng-click="getSubject(class._id)">{{class.name}}</li>
			</ul>
		</div>

		<div class="subject-filter">
			<ul class="list-inline">
				<li class="title">学科:</li>
				<li ng-class="{'item':true,'active':subjectCurrent==='全部'}" ng-click="selectSubject('全部')">全部</li>
				<li ng-class="{'item':true,'active':subjectCurrent===subject._id}" ng-repeat="subject in subjectList" ng-click="selectSubject(subject._id)">{{subject.name}}</li>
			</ul>
		</div>
	</div>
	</div>
       <div class="inner">
		<div class="bar">
			<span class="title">
				付费课系列
			</span>
			<span class="subTitle">
				重点难点全面辅导 快速提分不二选择
			</span>
			<span class="more" ng-click="goSelect()">
				更多课程 <i>></i>
			</span>
		</div>

		<div class="class-container clearfix">
			<div ng-if="i<6" ng-class="{'class':true,'last':i%3===2,'dou':class.number>1}" ng-repeat="(i,class) in chargeList" ng-click="goDetail(class)">
				<h4><span class="tag one">{{class.season}}</span><span class="tag two">{{class.subject}}</span>{{class.name}}</h4>
				<div class="teacher">
					<image class="tou" src='http://39.108.219.7/cgi-bin/download.pl?proj=znyx&fid={{class.headFid}}'/>
					<div class="name">{{class.mainname}}</div>
				</div>
				<div class="describe">
					<div class="col-xs-6" style="padding: 0">
						<small>共{{class.contentnumber}}节课 {{class.number}}个班级可选</small>
						<p><small>{{class.request}}人已报名</small></p>
					</div>
					<div class="col-xs-6">
						<span class="default-money">¥{{class.disaccount}}</span>
						<span class="real-money">&nbsp;¥{{class.price}}</span>
					</div>
				</div>
			</div>
		</div>
		   <div class="bar">
			<span class="title">
				公开体验课
			</span>
			<span class="subTitle">
				兴趣培养 养成习惯 免费体验
			</span>
			<span class="more" ng-click="goSelect()">
				更多课程 <i>></i>
			</span>
		   </div>
		   <div class="class-container clearfix">
			   <div ng-if="i<6" ng-class="{'class':true,'last':i%3===2}" ng-repeat="(i,class) in publicList" ng-click="goDetail(class)">
				   <h4><span class="tag one">{{class.season}}</span><span class="tag two">{{class.subject}}</span>{{class.name}}</h4>
				   <div class="teacher">
					    <image class="tou" src='http://39.108.219.7/cgi-bin/download.pl?proj=znyx&fid={{class.headFid}}'/>
					   <div class="name">{{class.mainname}}</div>
				   </div>
				   <div class="describe">
					   <div class="col-xs-6" style="padding: 0">
						   <small>共{{class.contentnumber}}节课 {{class.number}}个班级可选</small>
						   <p><small>{{class.request}}人已报名</small></p>
					   </div>
					   <!--<div class="col-xs-6">-->
						   <!--<span class="default-money">¥{{class.dissaccount}}</span>-->
						   <!--<span class="real-money">&nbsp;¥{{class.price}}</span>-->
					   <!--</div>-->
				   </div>
			   </div>
		   </div>
		<hr>
	</div>
</div>
<div ng-include="'i100footer.html'"></div>
  	<!--<script src="http://39.108.219.7/webapp/jquery.min.js"></script>-->
    <!--<script src="http://39.108.219.7/webapp/bootstrap/js/bootstrap.min.js"></script>-->
	<!--<script type="text/javascript">-->
		<!--function openGrandWindow() {-->
			<!--$("#grand_link").on('click', function(e){-->
				<!--$('#grandModal').modal({});-->
			<!--});-->
        <!--}-->

		<!--$(function(){-->
          <!--openGrandWindow();-->
        <!--});-->
	<!--</script>-->
  <!--</body>-->
<!--</html>-->